.maze-page {
  padding: 20px 50px;
  h1 { padding-left: 50px; }
  img { width: 350px }
}
.maze {
  $thickness: 2px;
  $color: grey;
  width: 350px;
  height: 350px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  .top { border-top: solid $thickness $color }
  .right { border-right: solid $thickness $color }
  .bottom { border-bottom: solid $thickness $color }
  .left { border-left: solid $thickness $color }
  $sizes: 10,15,20,25,30,35,40,45,50;
  @each $size in $sizes {
    &.size#{$size} { grid-template: repeat($size, 1fr) / repeat($size, 1fr) }
  }

}

